/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * Brand
**/
@light: 		#ffffff; 	// white
@intermediate: 	#323a3b; 	// grey
@dark: 			#1f2532; 	// dark grey
@primary:		#439fe0; 	// blue
@secondary: 	#3fbd98; 	// green


/**
 * Status
**/
@danger: 		#ed5565; //red
@warning: 		#f6bb42; //Yellow
@success: 		#8cc152; //bright green

/**
 * Social media
**/
@twitter: 		#2aa8df;
@facebook: 		#3c5a97;
@pinterest: 	#c92027;
@gplus: 		#dd4b39;
@linkedin: 		#007bb6;



/*------------------------------------*\
    #APPLICATIONS
\*------------------------------------*/

/**
 * Color
**/
.color-light{ color: @light; }
.color-intermediate{ color: @intermediate; }
.color-dark{ color: @dark; }
.color-primary{ color: @primary; }
.color-secondary{ color: @secondary; }
.color-danger, .error{ color: @danger; }
.color-warning{ color: @warning; }
.color-success{ color: @success; }

.error{
	.text-shadow();
}

/**
 * Backgrounds
**/
.bg-light{
	background-color: @light;
	color: @primary;
}
.bg-light-hover{ background-color: darken(@light, 10%); }

.bg-intermediate{
	background-color: @intermediate;
	color: @dark;
}
.bg-intermediate-hover{ background-color: darken(@intermediate, 10%); }

.bg-dark{
	background-color: @dark;
	color: @light;
}
.bg-dark-hover{ background-color: darken(@dark, 10%); }

.bg-primary{
	background-color: @primary;
	color: @light;
}
.bg-primary-hover{ background-color: darken(@primary, 10%); }

.bg-secondary{
	background-color: @secondary;
	color: @light;

	&.bg-opacity--9{
		background-color: fade(@secondary, 90%);
	}
}
.bg-secondary-hover{ background-color: darken(@secondary, 10%); }

.bg-danger{
	background-color: @danger;
	color: @light;
}
.bg-danger-hover{ background-color: darken(@danger, 10%); }

.bg-warning{
	background-color: @warning;
	color: @light;
}
.bg-warning-hover{ background-color: darken(@warning, 10%); }

.bg-success{
	background-color: @success;
	color: @light;
}
.bg-success-hover{ background-color: darken(@success, 10%); }


/**
 * Backgrounds shades
**/

.bg-primary--darken-10{ background-color: darken(@primary, 10%); }

.bg-secondary--darken-10{ background-color: darken(@secondary, 5%); }
.bg-secondary--darken-20{ background-color: darken(@secondary, 10%); }
.bg-secondary--darken-30{ background-color: darken(@secondary, 15%); }
.bg-secondary--darken-40{ background-color: darken(@secondary, 20%); }
.bg-secondary--darken-50{ background-color: darken(@secondary, 25%); }
.bg-secondary--darken-60{ background-color: darken(@secondary, 30%); }
.bg-secondary--darken-70{ background-color: darken(@secondary, 35%); }
.bg-secondary--darken-80{ background-color: darken(@secondary, 40%); }
.bg-secondary--darken-90{ background-color: darken(@secondary, 45%); }
.bg-secondary--darken-100{ background-color: darken(@secondary, 50%); }